<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shh! It's a Party</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/core.css">

    <style>
      input:focus,
      select:focus,
      textarea:focus,
      button:focus {
        outline: none !important;
      }

      #allPosts {
        resize: none;
        font-size: 12px;
        border-radius: 5px;
        border: #ccc solid 1px;
        line-height: 14px;
        height:100px;
        overflow: scroll;
      }

      body {
        text-align: center;
        /*font-family: Georgia;*/
        background-color: #FFFFFF;
        background-image: url("brickwall.png");
      }

      title {
        text-align: center;
        padding-bottom: 20px;
      }

      h1 {
        color: #000000;
        font-family: inherit;
        font-size: 45px;
      }

      .jumbotron {
        text-align: center;
        /*background-color: #00FA9A;*/
        background: rgba(0, 250, 154, 0.35);
        /*background: rgba(154, 72, 208, 0.55);*/
        height: auto;
        width: 70%;
        position: absolute;
        top:20;
        bottom: 20;
        left: 0;
        right: 0;
        margin: auto;
        box-shadow: 2px 2px 20px;
        /*border-radius: 15px 0px;*/
      }

      .choose {
        position: relative;
        /*display: flex;
        flex-direction: 'row';*/
        margin-bottom: 90px;
      }

      .start {
        float: left;
      }

      #newParty {
        width: relative;
        background-color: #000000;
        /*border-radius: 10px;*/
        color: #9A48ED;
        border-radius: 15px;
        border-style: solid none;
        border-color: #9A48ED;
        margin-bottom: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
      }

      p {
        margin:0;
        padding:0;
      }

      ul {
        margin: 15px;
        list-style-type: none;
        /*border-style: double none;*/
      }

      li {
        /*display: initial;*/
        border-style: solid none;
        padding: 0;
        margin: 0;
        border-radius: 15px;
        /*box-shadow: 2px 2px;*/
        color: #000000;
      }

      li:hover {
        border-style: dashed none;
        padding: 0;
        margin: 0;
        /*box-shadow: 0px 0px 2px 2px;*/
        text-decoration: none;
        font-size: 110%;
      }

      a:hover {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

