<% include partials/header %>

    <div class="container">
      <div class="title">
        <h1>Shh! It's a party!</h1>
      </div>
      <div class="jumbotron">
        <h2>&hellip;and you're the DJ!</h2>
        <p>Use this link to listen and share:</p>
        <input id="dj" type="text" value="http://<%= url %>/party/<%= partyId %>">
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>

    <!-- APP CODE -->
    <script>var dj = "<%= partyId %>"</script>
    <script src="/js/dj.js"></script>

<% include partials/footer %>
