<% include partials/header %>
    <div class="container">
      <div class="jumbotron">
        <h1>Shh! It's a party!</h1>
        <h2>&hellip;and you're the DJ!</h2>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>

    <script src="/js/dj.js"></script>
<% include partials/footer %>

