<% include partials/header %>
    <div class="container">
      <div class="jumbotron">
        <h1>Shh! It's a party!</h1>
        <button id="newParty">Start a new party</button>

        <ul>
          <% for (var party of parties) { %>
            <li><a href="/party/<%= party.peerId %>">Party!</a></li>
          <% } %>
        </ul>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>

    <script src="js/index.js"></script>
<% include partials/footer %>

