input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

#allPosts {
  resize: none;
  font-size: 12px;
  border-radius: 5px;
  border: #ccc solid 1px;
  line-height: 14px;
  height:100px;
  overflow: scroll;
}

body {
  text-align: center;
  background-color: #FFFFFF;
  background-image: url("brickwall.png");
}

title {
  text-align: center;
  padding-bottom: 20px;
}

h1 {
  color: #000000;
  font-family: inherit;
  font-size: 45px;
}

.jumbotron {
  text-align: center;
  /*background-color: #00FA9A;*/
  background: rgba(0, 250, 154, 0.35);
  height: auto;
  width: 70%;
  position: absolute;
  top:20;
  bottom: 20;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 15px;
  box-shadow: 2px 2px 20px;
}

input {
  text-align: center;
  border-radius: 15px;
  background: rgba(250, 250, 250, 0.3);
  border: none;
  border-bottom: solid 2px #000000;
  transition: border 0.3s;
}

input:focus {
  background: rgba(250, 250, 250, 0.6);
  background-image: url("brickwall.png");
  border-bottom: solid 2px #EE4266;
}

#partyName {
  width: 30%;
}

#partyMeta {
  width: 60%;
}

h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

#dj {
  margin-top: 25px;
  width: 95%;
}

#newParty {
  width: relative;
  background-color: #000000;
  color: #1599D6;
  border-radius: 15px;
  border-style: solid none;
  border-color: #1599D6;
  margin-top: 25px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#newParty:hover {
  color: rgba(250, 250, 250, 0.9);
}

p {
  margin:0;
  padding:0;
}

ul {
  padding: 0;
  margin: 15px;
  list-style-type: none;
}

li {
  border-style: solid none;
  padding: 0;
  margin: 10px;
  border-radius: 15px;
  color: #000000;
}

li:hover {
  border-style: solid none;
  border-color: #EE4266;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background-image: url("brickwall.png");
}

li:hover a {
  text-decoration: none;
}

a:visited, a:active {
  text-decoration: none;
}

@media (max-width: 640px){
  .jumbotron {
    width: 95%;
    }
}